*,
*::before,
*::after {
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: "RocknRoll One", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-top: 10px;
}
